@-moz-document url-prefix() {
    header .logo img{
        height: 15vmin;
    }
    .footer .contactos .contactos-table tbody tr .github a img{
        height: 10%;
    }
}
body{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}
header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 5vh 0 5vh 0;
}
header .logo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 40%;
    max-width: 50%;
}
header .logo img{
    max-height: 30vmin;
    max-width: 100%;
}

header .titulo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    padding-left: 3vw;
    font-family: "Times New Roman", Times, serif;
    color: #0062A2;
}
header .titulo h1{
    margin: 0;
    font-size: 3vmin;
}
header .titulo h2{
    margin: 0;
    font-size: 3vmin;
}

.busqueda{
    background-color: #FAFAFA;
    margin: auto;
    width: 90%;
    padding: 2vmin 2vmin 2vmin 2vmin;
}

.busqueda .busqueda-general{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.busqueda .busqueda-general .barra-busqueda{
    width: 70%;
    padding-right: 1vmin;
}

.busqueda .busqueda-general #busqueda-avanzada-btn{
    width: 30%;
    padding-left: 1vmin;
}

.busqueda .busqueda-avanzada{
    background-color: #EEE;
}

.busqueda .busqueda-avanzada .filtros{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin: 0vmin 0 1.5vmin 0;
    padding: 3vmin 0 0.5vmin 0;
}

.busqueda .busqueda-avanzada .filtros .modalidad{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 2vw 0 2vw;
}

.busqueda .busqueda-avanzada .filtros .grupo-investigacion{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 1vw 0 1vw;
}

.busqueda .busqueda-avanzada .filtros .mencion-honor{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 2vw 0 2vw;
}

.busqueda .busqueda-avanzada .filtros .buscar-por-ano{
    width: 20%;
}

.busqueda .busqueda-avanzada .filtros .periodo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 3vw 0 3vw;
}

.busqueda .busqueda-avanzada .botones{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    padding: 1vmin 0 3vmin 0;
}

.busqueda .busqueda-avanzada .botones .buscar{
    width: 20%;
    margin: 0 2vmin 0 2vmin;
}
.busqueda .busqueda-avanzada .botones .limpiar{
    width: 20%;
    margin: 0 2vmin 0 2vmin;
}

.btn-dd{
    white-space: normal;
    width: 100%;
}

.tabla-principal{
    width: 90%;
}
.tabla-principal thead{
    background-color: #7290ae;
    color: #fff;
    font-family: "calibri", sans-serif;
    font-style: normal;
}
.tabla-principal thead th{
    height: 9vmin;
    font-size: 4vmin;
    font-weight: lighter;
}
.tabla-principal thead .nombre{
    width: 30%;
    padding-left: 2vmin;
}

.tabla-principal thead .autor{
    width: 20%;
    padding-left: 2vmin;
}

.tabla-principal thead .director{
    width: 20%;
    padding-left: 2vmin;
}

.tabla-principal thead .detalles{
    width: 15%;
    padding-left: 2vmin;
}

.tabla-principal thead .website{
    width: 15%;
    padding-left: 2vmin;
}

.tabla-principal tbody{

}

.tabla-principal tbody tr:nth-child(4n-3){
    background-color: #FAFAFA;
}
.tabla-principal tbody .detalles:nth-child(4n-2){
    background-color: #FAFAFA;
}
.tabla-principal tbody .detalles:nth-child(4n-2) tr{
    background-color: #FAFAFA;
}
.tabla-principal tbody .detalles:nth-child(4n-2) tr td{
    background-color: #FAFAFA;
}
.tabla-principal tbody tr:nth-child(4n-1){
    background-color: #ffff89;
}
.tabla-principal tbody .detalles:nth-child(4n){
    background-color: #ffff89;
}
.tabla-principal tbody .detalles:nth-child(4n) tr{
    background-color: #ffff89;
}
.tabla-principal tbody .detalles:nth-child(4n) tr td{
    background-color: #ffff89;
}

.tabla-principal tbody tr .nombre{
    padding: 2vmin 2vmin 2vmin 2vmin;
    text-align: justify;
    text-justify: inter-word;
}

.tabla-principal tbody tr .autor{
    padding: 2vmin 2vmin 2vmin 2vmin;
    text-align: justify;
    text-justify: inter-word;
}

.tabla-principal tbody tr .director{
    padding: 2vmin 2vmin 2vmin 2vmin;
    text-align: justify;
    text-justify: inter-word;
}

.tabla-principal tbody tr .detalles{
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
}

.tabla-principal tbody tr .detalles button{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    border-left: 0.5vmin;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #fff;
}

.tabla-principal tbody tr:nth-child(4n-1) .detalles button{
    background: #F0F081;
}
.tabla-principal tbody tr:nth-child(4n-3) .detalles button{
    background: #F1F1F1;
}
.tabla-principal tbody tr:nth-child(4n-1) .detalles button:hover{
    background: #E8E87D;
}
.tabla-principal tbody tr:nth-child(4n-3) .detalles button:hover{
    background: #EBEBEB;
}

.tabla-principal tbody tr .website{
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    border-left: 0.1vmin;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #fff;
}

.tabla-principal tbody tr .website button{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

.tabla-principal tbody tr:nth-child(4n-1) .website button{
    background: #F0F081;
}
.tabla-principal tbody tr:nth-child(4n-3) .website button{
    background: #F1F1F1;
}
.tabla-principal tbody tr:nth-child(4n-1) .website button:hover{
    background: #E8E87D;
}
.tabla-principal tbody tr:nth-child(4n-3) .website button:hover{
    background: #EBEBEB;
}
.tabla-principal tbody .detalles .row{
    padding-left: 2vmin;
}
.tabla-principal tbody .detalles .row .primero{
    border-left: solid 2vmin #7290ae;
    margin-left: 2vmin;
}
.tabla-principal tbody .detalles tr .col-titulo{
    font-weight: bold;
}
.tabla-principal tbody .detalles tr td{
    padding-left: 1vmin;
}
.footer{
    background-color: #FAFAFA;
    padding: 2vmax 0 0 0;
    width: 90%;
    border-bottom: 1vmin solid #7290ae;
}
.footer .row{
    margin: 0;
}
.footer .imagen img{
    min-height: 4vmax;
    height: auto;
    max-height: 6vmax;
    margin: 0 auto;
    width: auto;
}
.footer .contactos{
    width: 90%;
    margin: 2vmin auto 0 auto;
}
.footer .contactos .contactos-table{
    width: 100%;
}
.footer .contactos .contactos-table tbody{
    padding: 0;
}
.footer .contactos .contactos-table tbody tr{
    padding: 0;
}
.footer .contactos .contactos-table tbody tr .contacto{
    width: 40%;
    margin: 0.25vmin auto 0.25vmin 0;
    padding: 1vmin 1vmin 1vmin 3%;
}
.footer .contactos .contactos-table tbody tr .contacto table tbody tr td{
    padding: 5px 0 5px 0;
}
.footer .contactos .contactos-table tbody tr .github{
    width: 20%;
    vertical-align: bottom;
}
.footer .contactos .contactos-table tbody tr .github a{
    background: #7290ae;
    color: #FFF;
    font-size: 175%;
    font-family: "calibri", sans-serif;
    font-weight: lighter;
    vertical-align: middle;
    padding-top: 3%;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
}
.footer .contactos .contactos-table tbody tr .github a:hover{
    background: #6E8AA6;
    color: #FFF;
}
.footer .contactos .contactos-table tbody tr .github a img{
    max-height: 70%;
    width: auto;
}

@media only screen and (max-width: 768px) {

    header {
        flex-flow: column nowrap;
    }
    header .logo{
        justify-content: center;
        min-width: 80%;
    }
    header .logo img{
        min-height: 20vmin;
        height: auto;
        width: auto;
    }
    header .titulo {
        text-align: center;
        padding-left: 0;
        margin: 2vh 0 0 0;
        width: 100%;
    }
    header .titulo h1{
        font-size: 5vmin;
    }
    header .titulo h2{
        font-size: 5vmin;
    }
    .busqueda{
        width: 100%;
    }
    .busqueda .busqueda-general{
        flex-direction: column;
    }
    .busqueda .busqueda-general .barra-busqueda{
        width: 100%;
        padding-bottom: 1vmin;
    }
    .busqueda .busqueda-general #busqueda-avanzada-btn{
        width: 100%;
        padding-top: 1vmin;
    }
    .busqueda .busqueda-avanzada .filtros{
        flex-direction: column;
    }
    .busqueda .busqueda-avanzada .filtros .modalidad{
        width: 100%;
        padding: 1vmin 2vmin 0.5vmin 2vmin;
    }
    .busqueda .busqueda-avanzada .filtros .grupo-investigacion{
        width: 100%;
        padding: 0.5vmin 2vmin 0.5vmin 2vmin;
    }
    .busqueda .busqueda-avanzada .filtros .mencion-honor{
        width: 100%;
        padding: 0.5vmin 2vmin 0.5vmin 2vmin;
    }
    .busqueda .busqueda-avanzada .filtros .buscar-por-ano{
        width: 100%;
        padding: 0.5vmin 2vmin 0.5vmin 2vmin;
    }

    .busqueda .busqueda-avanzada .filtros .periodo{
        width: 100%;
        padding: 0.5vmin 2vmin 1vmin 2vmin;
    }

    .busqueda .busqueda-avanzada .botones .buscar{
        width: 50%;
        margin: 0 2vmin 0 2vmin;
    }
    .busqueda .busqueda-avanzada .botones .limpiar{
        width: 50%;
        margin: 0 2vmin 0 2vmin;
    }
    .tabla-principal{
        width: 100%;
    }
    .tabla-principal thead{
        display: none;
    }
    .tabla-principal tbody tr td{
        display: -webkit-box;
        display: -moz-box;
        display: box;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }
    .tabla-principal tbody tr td{
        display: block;
    }
    .tabla-principal tbody tr .nombre{
        margin: 2vmax 2vmin 0 3vmin;
    }
    .tabla-principal tbody tr .autor{
        margin: 0 2vmin 0 3vmin;
    }
    .tabla-principal tbody tr .director{
        margin: 0 2vmin 3vmin 3vmin;
    }
    .tabla-principal tbody tr .nombre::before{
        content: attr(data-th)": ";
        font-weight: bold;
    }
    .tabla-principal tbody tr .autor::before{
        content: attr(data-th)": ";
        font-weight: bold;
    }
    .tabla-principal tbody tr .director::before{
        content: attr(data-th)": ";
        font-weight: bold;
    }
    .tabla-principal tbody tr .detalles{
        height: 10vmax;
        margin-bottom: 1vmax;
    }
    .tabla-principal tbody tr .website{
        height: 10vmax;
        margin-top: 1vmax;
        vertical-align: middle;
    }
    .tabla-detalles tbody tr td{
        display: inline-block;
    }

    .tabla-principal tbody .detalles .row .primero{
        border-left: solid 3vmax #7290ae;
        margin-left: 4vmin;
        margin-top: 4vmin;
    }
    .tabla-principal tbody .detalles .row .primero .col-titulo{
        width: 45vmin;
    }
    .tabla-principal tbody .detalles .row .segundo .col-titulo{
        width: 45vmin;
    }
    .tabla-principal tbody .detalles .segundo{
        border-left: solid 3vmax #7290ae;
        margin-left: 4vmin;
        margin-bottom: 4vmin;
    }
    .tabla-principal tbody tr .detalles button{
        border: 0;
        margin-top: 1vmin;
    }
    .tabla-principal tbody .detalles .website{
        display: none;
    }
    .footer{
        width: 100vw;
        max-width: 100%;
        padding-top: 2vmax;
    }
    .footer .imagenes .imagen{
    }
    .footer .imagenes .imagen img{
        margin-top: 2vmin;
        margin-bottom: 2vmin;
        min-height: 10vmax;
        width: auto;
    }
    .footer .contactos{
        margin-top: 2vmax ;
        margin-bottom: 2vmax;
        text-align: center;
        margin: 0.25vmin auto 0.25vmin 0;
        width: 100%;
    }
    .footer .contactos .contactos-table{
        width: 100%;
    }
    .footer .contactos .contactos-table tbody tr td{
        display: block;
    }
    .footer .contactos .contactos-table tbody tr .contacto{
        width: 100%;
    }
    .footer .contactos .contactos-table tbody tr .contacto table{
        margin: auto;
    }
    .footer .contactos .contactos-table tbody tr .contacto table tbody tr td{
        padding: 5px 0 5px 0;
    }
    .footer .contactos .contactos-table tbody tr .github{
        margin: auto;
        width: 100%;
    }
    .footer .contactos .contactos-table tbody tr .github a{
        background: #7290ae;
        color: #FFF;
        font-size: 175%;
        font-family: "calibri", sans-serif;
        font-weight: lighter;
        padding-top: 1vmax;
        padding-bottom: 1vmax;
        height: 100%;
        width: 50%;
        border: 0;
        border-radius: 0;
    }
    .footer .contactos .contactos-table tbody tr .github a:hover{
        background: #6E8AA6;
        color: #FFF;
    }
    .footer .contactos .contactos-table tbody tr .github a img{
        height: 5vmax;
        width: auto;
    }
}
