body{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}
header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 5vh 0 5vh 0;
}
header .logo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 40%;
    max-width: 50%;
}
header .logo img{
    max-height: 15vmin;
    max-width: 100%;
}

header .titulo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    padding-left: 3vw;
    font-family: "Times New Roman", Times, serif;
    color: #0062A2;
}
header .titulo h1{
    margin: 0;
    font-size: 3vmin;
}
header .titulo h2{
    margin: 0;
    font-size: 3vmin;
}

.busqueda{
    background-color: #FAFAFA;
    margin: auto;
    width: 90%;
    padding: 2vmin 2vmin 2vmin 2vmin;
}

.busqueda .busqueda-general{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.busqueda .busqueda-general .barra-busqueda{
    width: 70%;
    padding-right: 1vmin;
}

.busqueda .busqueda-general #advanced-search-button{
    width: 30%;
    padding-left: 1vmin;
}

.busqueda .busqueda-avanzada{
    background-color: #EEE;
}

.busqueda .busqueda-avanzada .filtros{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin: 0vmin 0 1.5vmin 0;
    padding: 3vmin 0 0.5vmin 0;
}

.busqueda .busqueda-avanzada .filtros .modalidad{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 2vw 0 2vw;
}

.busqueda .busqueda-avanzada .filtros .grupo-investigacion{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 1vw 0 1vw;
}

.busqueda .busqueda-avanzada .filtros .mencion-honor{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 2vw 0 2vw;
}

.busqueda .busqueda-avanzada .filtros .buscar-por-ano{
    width: 20%;
}

.busqueda .busqueda-avanzada .filtros .periodo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 3vw 0 3vw;
}

.busqueda .busqueda-avanzada .botones{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    padding: 1vmin 0 3vmin 0;
}

.busqueda .busqueda-avanzada .botones .buscar{
    width: 20%;
    margin: 0 2vmin 0 2vmin;
}
.busqueda .busqueda-avanzada .botones .limpiar{
    width: 20%;
    margin: 0 2vmin 0 2vmin;
}

.btn-dd{
    white-space: normal;
    width: 100%;
}

table{
    width: 90%;
}

table thead{
    background-color: #7290ae;
    color: #fff;
    font-family: "calibri", sans-serif;
    font-style: normal;

}

table thead th{
    height: 9vmin;
    font-size: 4vmin;
    font-weight: lighter;
}

table thead .nombre{
    width: 30%;
    padding-left: 2vmin;
}

table thead .autor{
    width: 20%;
    padding-left: 2vmin;
}

table thead .director{
    width: 20%;
    padding-left: 2vmin;
}

table thead .detalles{
    width: 15%;
    padding-left: 2vmin;
}

table thead .website{
    width: 15%;
    padding-left: 2vmin;
    border-left: 1vmin;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #fff;
}

table tbody{

}

table tbody tr:nth-child(odd) {
    background-color: #FAFAFA;
}

table tbody tr:nth-child(even) {
    background-color: #ffff89;
}

table tbody tr .detalles{
    font-size: 5vmin;
    font-weight: bold;
}

table tbody tr .detalles button{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

table tbody tr:nth-child(even) .detalles button{
    background: #F0F081;
}

table tbody tr:nth-child(odd) .detalles button{
    background: #F1F1F1;
}

table tbody tr .website{
    font-size: 5vmin;
    font-weight: bold;
    border-left: 1vmin;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #fff;
}

table tbody tr:nth-child(even) .website {
    background-color: #F0F081;
}

table tbody tr:nth-child(odd) .website {
    background-color: #F1F1F1;
}

table tbody tr .website button{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

table tbody tr:nth-child(even) .website button{
    background: #F0F081;
}

table tbody tr:nth-child(odd) .website button{
    background: #F1F1F1;
}

table tbody tr .nombre{
    padding: 2vmin 2vmin 2vmin 2vmin;

}

table tbody tr .autor{
    padding: 2vmin 2vmin 2vmin 2vmin;
}

table tbody tr .director{
    padding: 2vmin 2vmin 2vmin 2vmin;
}

table tbody tr .detalles{
    text-align: center;
    background-color: #
}

table tbody tr .website{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    header {
        flex-flow: column nowrap;
    }
    header .logo{
        justify-content: center;
        min-width: 80%;
    }
    header .logo img{
        max-height: none;
        height: 25vmin;
    }
    header .titulo {
        text-align: center;
        padding-left: 0;
        margin: 2vh 0 0 0;
        width: 100%;
    }
    header .titulo h1{
        font-size: 5vmin;
    }
    header .titulo h2{
        font-size: 5vmin;
    }

    .busqueda{
        width: 100%;
    }
    .busqueda .busqueda-general{
        flex-direction: column;
    }

    .busqueda .busqueda-general .barra-busqueda{
        width: 100%;
        padding-bottom: 1vmin;
    }
    .busqueda .busqueda-general #advanced-search-button{
        width: 100%;
        padding-top: 1vmin;
    }
    .busqueda .busqueda-avanzada .filtros{
        flex-direction: column;
    }
    .busqueda .busqueda-avanzada .filtros .modalidad{
        width: 100%;
        padding: 1vmin 2vmin 0.5vmin 2vmin;
    }
    .busqueda .busqueda-avanzada .filtros .grupo-investigacion{
        width: 100%;
        padding: 0.5vmin 2vmin 0.5vmin 2vmin;
    }
    .busqueda .busqueda-avanzada .filtros .mencion-honor{
        width: 100%;
        padding: 0.5vmin 2vmin 0.5vmin 2vmin;
    }
    .busqueda .busqueda-avanzada .filtros .buscar-por-ano{
        width: 100%;
        padding: 0.5vmin 2vmin 0.5vmin 2vmin;
    }

    .busqueda .busqueda-avanzada .filtros .periodo{
        width: 100%;
        padding: 0.5vmin 2vmin 1vmin 2vmin;
    }

    .busqueda .busqueda-avanzada .botones .buscar{
        width: 50%;
        margin: 0 2vmin 0 2vmin;
    }
    .busqueda .busqueda-avanzada .botones .limpiar{
        width: 50%;
        margin: 0 2vmin 0 2vmin;
    }

    table{
        width: 100%;
    }

    table thead{
        display: none;
    }
}

.filter{
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #BDBDBD;
}

.filter .component{
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}



.footer{
  background-color: #BDBDBD;
}

.footer .logo{
  max-width: 240px;
  max-height: 175px;
  margin: auto;
}

.footer .element{
  margin-top: 2em;
  margin-bottom: 2em;
}

.advanced-search{
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #7290ae;
}

.cabeza{
  background-color: #BDBDBD;
  border: 2px solid #BDBDBD;
}

.cabeza .main{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #BDBDBD;
}

.cabeza .secondary{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
}

.item:hover{
  background-color: #7290ae !important;
  color: #FFF;
}
.item:hover .main{
  background-color: #7290ae !important;
  color: #FFF;
}

.item{
  border-left: 2px solid #BDBDBD;
  border-right: 2px solid #BDBDBD;
  background-color: #FFF;
  transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
}

.item .main{
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
}

.item .secondary{
  background-color: #BDBDBD;
  padding-top: 10px;
  padding-bottom: 10px;
  display:flex;
  align-items: center;
  color: #000;
}

.item:nth-child(even) .main{
  background-color: #FFF;
}
.item:nth-child(even) .secondary{
  background-color: #ffff89 ;
  margin-bottom: 1em;
}
.item:nth-child(even){
  background-color: #FFF;
}
.item:nth-child(odd) .main{
  background-color: #ffff89;
}
.item:nth-child(odd) .secondary{
  background-color: #FFF;
  margin-bottom: 1em;
}
.item:nth-child(odd){
  background-color: #ffff89;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100vw;
        max-width: 100%;
        padding: 0px;
    }
}
