.banner{
  margin-bottom: 3em;
}

.banner-img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.filter{
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #BDBDBD;
}

.filter .component{
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.btn-dd{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background-color: #BDBDBD;
}

.footer .logo{
  max-width: 240px;
  max-height: 175px;
  margin: auto;
}

.footer .element{
  margin-top: 2em;
  margin-bottom: 2em;
}

.advanced-search{
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #7290ae;
}

.cabeza{
  background-color: #BDBDBD;
  border: 2px solid #BDBDBD;
}

.cabeza .main{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #BDBDBD;
}

.cabeza .secondary{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
}

.item:hover{
  background-color: #7290ae !important;
  color: #FFF;
}
.item:hover .main{
  background-color: #7290ae !important;
  color: #FFF;
}

.item{
  border-left: 2px solid #BDBDBD;
  border-right: 2px solid #BDBDBD;
  background-color: #FFF;
  transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
}

.item .main{
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
}

.item .secondary{
  background-color: #BDBDBD;
  padding-top: 10px;
  padding-bottom: 10px;
  display:flex;
  align-items: center;
  color: #000;
}

.item:nth-child(even) .main{
  background-color: #FFF;
}
.item:nth-child(even) .secondary{
  background-color: #ffff89 ;
  margin-bottom: 1em;
}
.item:nth-child(even){
  background-color: #FFF;
}
.item:nth-child(odd) .main{
  background-color: #ffff89;
}
.item:nth-child(odd) .secondary{
  background-color: #FFF;
  margin-bottom: 1em;
}
.item:nth-child(odd){
  background-color: #ffff89;
}
