<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "error.css" %}" type="text/css" />
</head>
<body>
    <div class="error">
        <img src="{% static "puj_vertical.png" %}" alt="logo javeriana"></img>
        <div id="Mensaje">
            <h1>404</h1>
            <h2>La página solicitada no existe</h2>
        </div>
    </div>
</body>
</html>
