<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Trabajos de Grado de la facultad de Ingeniería de Sistemas. Pontificia Universidad Javeriana</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
   {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/tgisispuj.css" %}"/>
</head>
    <body>
        <header><!-- Logo y Tíulo -->
            <div class="logo">
                <img src="{% static "img/puj_horizontal.png"  %}" alt="Logo Javeriana" >
            </div>
            <div class="titulo">
                <h1>Trabajos de Grado</h1>
                <h2>Ingeniería de Sistemas</h2>
                <h2>Facultad de Ingeniería</h2>
            </div>
        </header>
        <div class="busqueda">
            <div class="busqueda-general">
                <div class="input-group btn-dd barra-busqueda">
                    <span class="input-group-addon">Buscar</span>
                    <input type="text" id="search-bar" class="form-control text-center search-bar" placeholder="Buscar en la tabla...">
                </div>
                <button id="busqueda-avanzada-btn" type="button" class="btn btn-default btn-dd">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Búsqueda avanzada
                </button>
            </div>
            <div class="busqueda-avanzada">
                <div class="filtros">
                    <div class="fila-1">
                        <div class="btn-group btn-dd component modalidad">
                          <button id='modality-button' type="button" class="btn btn-default dropdown-toggle btn-dd" data-toggle="dropdown">
                            Modalidad <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {% for m in modalidades %}
                                <li class="modality-button-item"><a>{{m}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="btn-group btn-dd component grupo-investigacion">
                          <button id="research-group-button" type="button" class="btn btn-default dropdown-toggle btn-dd" data-toggle="dropdown">
                            Grupo de investigación <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {% for gi in gruposInvestigacion %}
                                <li class="research-group-button-item"><a>{{gi}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="btn-group btn-dd component mencion-honor">
                          <button id="honor-mention-button" type="button" class="btn btn-default dropdown-toggle btn-dd" data-toggle="dropdown">
                            Mención de honor <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {% for mh in mencionesHonor %}
                                <li class="honor-mention-button-item"><a>{{mh}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <div class="fila-2">
                        <div class="input-group component buscar-por-ano">
                          <span class="input-group-addon">Año</span>
                          <input type="text" id="search-by-year-bar" class="form-control text-center" placeholder="Año">
                        </div>
                        <div class="btn-group btn-dd component periodo">
                          <button id="period-button" type="button" class="btn btn-default dropdown-toggle btn-dd" data-toggle="dropdown">
                            Periodo <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {% for s in periodosAcademicos %}
                                <li class="period-button-item"><a>{{s.semestre}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="btn-group btn-dd component tituloAplicado">
                          <button id='titulo-aplicado-button' type="button" class="btn btn-default dropdown-toggle btn-dd" data-toggle="dropdown">
                            Título aplicado <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            {% for ta in titulosAplicados %}
                                <li class="titulo-aplicado-button-item"><a>{{ta}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="botones">
                    <div class="limpiar">
                        <button id="search-button" type="button" class="btn btn-default btn-md btn-dd">
                          <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>
                    </div>
                    <div class="buscar">
                        <button id="clear-button" type="button" class="btn btn-default btn-md btn-dd">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <table class="tabla-principal">
            <thead class="encabezado-fijo">
                <tr>
                    <th class="nombre">Nombre</th>
                    <th class="autor">Autor</th>
                    <th class="director"> Director</th>
                    <th class="website">Website</th>
                    <th class="detalles">Detalles</th>
                </tr>
            </thead>
            <thead class="encabezado">
              <tr>
                  <th class="nombre">Nombre</th>
                  <th class="autor">Autor</th>
                  <th class="director"> Director</th>
                  <th class="website">Website</th>
                  <th class="detalles">Detalles</th>
              </tr>
            </thead>
            <tbody class="cuerpo-principal">
               
            </tbody>
        </table>
        <table id="header-fixed"></table>
        <!-- Footer -->
        <table class="footer">
            <tr class="imagenes">
                <td class="imagen">
                  <img class="img-responsive"src="{% static "img/puj_horizontal.png" %}" alt="Logo javeriana"/>
                </td>
                <td class="imagen">
                  <img class="img-responsive" src="{% static "img/isis_horizontal.png" %}" alt="Logo ingeniería de sistemas" />
                </td>
                <td class="github">
                    <a id="github-button" class="btn btn-default" role="button"><img src="{% static "img/octocat.png" %}" alt="github.com/fabka/tgisispuj" /></a>
                </td>
                <td class="admin">
                    <a id="admin-button" class="btn btn-default" role="button"><img src="{% static "img/admin.png" %}" alt="github.com/fabka/tgisispuj" /></a>
                </td>
            </tr>
            <tr class="creditos">
              <td colspan="3">Desarrollo y soporte: Fabián Merchán - merchanf@javeriana.edu.co, Supervisión: Ing. Luisa F. Barrera - luisa.barrera@javeriana.edu.co</td>
            </tr>
        </table>
        <script src = "/static/js/jquery-2.2.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
        <script src = "/static/js/tgisispuj.js"></script>
    </body>
</html>
