<!DOCTYPE html>
<html>
<head>
    <title>500</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "error.css" %}" type="text/css" />
</head>
<body>
    <div class="error">
        <img src="http://tgisispuj-cdn-fabka.c9users.io/puj_vertical.png" alt="logo javeriana"></img>
        <div id="Mensaje">
            <h1>500</h1>
            <h2>Error interno</h2>
        </div>
    </div>
</body>
</html>
